body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:whitesmoke;
    color: #006400;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* navbar options */
.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
    height: 100%;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    width: auto;
}

.navbar-header {
    background: whitesmoke;
    border-color: whitesmoke;
}

.navbar-default {
    background: whitesmoke;
    border-color: whitesmoke;
}

.navbar-toggle {
    border: 0;
}
.navbar-collapse {
    background: white;
}
.landing-page {
    padding-top: 50px;
}

/* chef ready custom */
.cr-title {
    color: #006400;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-green {
    background-color: #006400;
}
.color-white {
    color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/* If you want to use an image and change them based on resolution */
/*@media screen and (min-width: 400px) and (max-width: 1024px) {
.body {
    background: #FFFFFF url(../Images/kitchen1.jpg);
}
}


@media screen and (max-width: 399px) {
.body {
    background: #FFFFFF url(../Images/kitchen1.jpg);
}*/