body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #000000;

}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 3px;
  width: auto;
}

.landing-page {
    padding-top: 150px;
}




/* If you want to use an image and change them based on resolution */
/*@media screen and (min-width: 400px) and (max-width: 1024px) {
.body {
    background: #FFFFFF url(../Images/kitchen1.jpg);
}
}


@media screen and (max-width: 399px) {
.body {
    background: #FFFFFF url(../Images/kitchen1.jpg);
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color:#f0f0f0
}

.btn-default {
    background-color: aliceblue;
}