@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-4">
        <h2>What we do</h2>
        <p>
            When you are planning your next big event use Chef Ready to stay informed and connected. Our service
            ensures that all aspects of your event go off without a hitch.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Chef Ready provides 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
</div>
