@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-4">
        <h2>What Chef Ready does for you</h2>
        <p>
            Congratulations, you've got yourself a gig! Now let's make sure it's a success!
        </p>
        <p><span class="btn btn-default badge">@Html.ActionLink("fuck yes I'm interested", "Index", "Home")</span></p>
    </div>
</div>
