@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Denver<br />
    Colorado<br />
    <abbr title="Phone">P:</abbr>
    111-222-3333
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lostsloth13@gmail.com">support@lostsloth.com</a>
</address>