@{
    ViewBag.Title = "Landing Page";
}
<div class="row">&nbsp;</div>
<div class="">
    <h1>Ready, chef? </h1>
    <p><span class="btn btn-default badge">@Html.ActionLink("Learn more", "About", "Home")</span></p>
</div>
@Html.Partial("_LoginPartial")