@{
    ViewBag.Title = "Landing Page";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <img src="~/Images/logo-orig-silver.png" class="img-rounded img-responsive" />
            <h2 class="cr-title">CHEF READY!</h2>
        </div>
    </div>
    <div class="row landing-page">
        <p><span class="btn btn-default btn-xs">@Html.ActionLink("Learn more", "About", "Home")</span></p>
    </div>
    
</div>
<div class="">@Html.Partial("_LoginPartial")</div>
